.well
  .page-header: h1 Websites

  p Your website information is used to create unique links for the chat system.  You can customize logos, online/offline images, and what specialties a visitor should be allowed to select from.

  button.btn#addWebsite Add New Website

  table.table.table-striped
    thead: tr
      th Url
      th Specialties
      th ACP Endpoint

    tbody#websiteTableBody
      each website in websites
        include websiteRow

#websiteModalBox
