blockquote {
  font-size: 13px;
  margin: 6px 15px 6px;
  border-left: none;
}

.reflink a {
  color: inherit;
  text-decoration: none;
}

.thumb {
  float: left;
  margin: 0 15px 8px;
}

.small-modal {
  width: 330px;
}

.small-modal-box {
  width: 280px;
}

.img-chat {
  width: 18px;
  height: 18px;
  display: inline-block;
  opacity: 0.67;
  background-image:url("/img/chat.png");
}

.chatPage {
  width: 550px;
  height: 600px;
}

.chatWindow {
  padding: 0;
  margin: 0;
  width: 95%;
  height: 80%;
}

.chat-box {
  position: relative;
  height: 100%;
  width: 100%;
  top: 10px;
  bottom: 30px;
  overflow-y: scroll;
}

.message-form {
  position: relative;
  width: 100%;
  height: 30px;
  bottom: 0;
}

.message-form input {
  width: 300px;
  margin-right: 4px;
}

.page-content {
  margin-top: 15px;
}

.operatorChat {
  height: 500px;
}

.nav-list {
  padding: 0;
}

.nav-list li a {
  margin-right: -10px;
  display: inline-block;
}

.maxHeight {
  height: 100%;
}

#dashboard .table .btn-group {
  margin: -4px;
}

.operatorChat {
  margin-left: 0;
}

.bold {
  font-weight: bold;
}

.chatTab {
  margin-right: 4px;
}

.actions table td {
  padding: 4px;
}

.actions button.btn {
  width: 75px;
}

.actions {
  position: absolute;
  bottom: 14px;
}

.chatControls {
  height: 82%;
  position: relative;
}
