.acpDataContainer
      .acpDataView
        | ACP Data:
        .acpDataViewJSON
          if(acpData.length)
            acpData.forEach(function()acpData{
            .acpDataViewJSON= acpData
            })
      .acpControlButtons
        .firstRowAcpButtons.btn-group
          button.btn Leave
          button.btn Kick User
          button.btn Right
        .selectAcpBoxWrapper
          select.selectAcpBox
            option Select Operator
            option 2
            option 3
            option 4
            option 5
          select.selectAcpBoxAction
            option Action
            option 2
            option 3
            option 4
            option 5
        .thirdRowAcpButtons.btn-group
          button.btn Email transcript
          button.btn Print transcript