.cannedResponseArea
    // if(cannedResponse.length)
    //     cannedResponse.forEach(function()cannedResponse{
    //     .cannedResponse= chats
    //     })
    

      p(style='text-align: center; color: #527793; font-family: Helvetica; font-size: 12px; font-style: normal; font-weight: normal; text-decoration: underline; top: 600px; left: 34px; position: absolute;') Manage Canned Responses