.cannedResponseArea
    .cannedResponse
        | In the UI, members of Chat Pro have a name, ACP.
      .cannedResponse
        | Hi, how can I assist you today?
      p(style='text-align: center; color: #527793; font-family: Helvetica; font-size: 12px; font-style: normal; font-weight: normal; text-decoration: underline; top: 600px; left: 34px; position: absolute;') Manage Canned Responses