.topOfChatboxDiv
    .usernameInChat
        | Robert | OZessay.com.au
      .timeInChat
        | 7:18
    .chatboxSlider
    
       chatbox area, (name chatbox slider) 
    
       input boxes after chatbox 
    .chatBoxInputContainer
      textarea.chatBoxTextArea(rows='3')
    .chatBoxButtonContainer
      button.btn.btn-large.btn-block(type='button') Send Message (Ctrl + Enter)
