.topOfChatboxDiv
    .usernameInChat
        #{username}
      .timeInChat
        #{timeInChat}
    .chatboxSlider
    
       chatbox area, (name chatbox slider) 
    
    .chatBoxDisplay
      for messages in chats
        ul
          li.messages   
    .chatBoxInputContainer
      textarea.chatBoxTextArea(rows='3')
    .chatBoxButtonContainer
      button.btn.btn-large.btn-block(type='button') Send Message (Ctrl + Enter)
