.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner.navBarContainer
    .container-fluid
      a.brand.brandSpacing(href='#')
        strong #{appName}
      ul.nav
        li
          a(href='#/dashboard') Dashboard
            span.notifyUnanswered
            span.notifyInvites
        li.newChatSelector
          a(href='#/operatorChat') Chats
            span.notifyUnread
        if role == "Owner"
          ul.nav
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown') Administration
              b.caret
            ul.dropdown-menu.collapse.in
              li
                a(href="#/account")
                  i.icon-off
                  | Account
              li
                a(href='#/userProfile')
                  i.icon-off
                  | Users
              li
                a(href='#/Websites')
                  i.icon-off
                  | Websites
              li
                a(href='#/specialties')
                  i.icon-off
                  | Specialties
      input.input-medium.search-query.searchBox(type='text', placeholder='Search...')
      ul.nav.pull-right
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown') Logged in as #{username}
            b.caret
          ul.dropdown-menu.collapse.in
            li
              a(href="#/logout")
                i.icon-off
                | Logout
            li
              a(href='#/userProfile')
                i.icon-off
                | Profile
