div.well.chatControls.span4(chatId="#{chat.id}")


  .visitor-info
    | Visitor: #{chat.visitor.username}

    .referrer-data
      | ReferrerData:
      ul(id="referrerTree#{chat.renderedId}", class="treeview")!= chat.visitor.referrerData

    .acp-data
      | ACP Data:
      ul(id="acpTree#{chat.renderedId}", class="treeview")!= chat.visitor.acpData

  .actions
    p
      | Actions:

    table
      tr
        td
          button.btn.btn-primary.inviteButton Invite
        td
          button.btn.btn-primary.transferButton Transfer
      tr
        td
          button.btn.btn-danger.kickButton Kick
        td
          button.btn.btn-warning.leaveButton Leave
