//TODO: this formatting is just a scaffold
div.well.chatControls.span4(chatId="#{chat.id}")

  .visitor-info
    | Visitor: #{chat.visitor.username}

  .actions
    p
      | Actions:

    table
      tr
        td
          button.btn.btn-primary.inviteButton Invite
        td
          button.btn.btn-primary.transferButton Transfer
      tr
        td
          button.btn.btn-danger.kickButton Kick
        td
          button.btn.btn-warning.leaveButton Leave
