//TODO: this formatting is just a scaffold
ul.chatControls.span4(chatId="#{chat.id}")
  li
    | Visitor: #{chat.visitor.username}
  li
    | Actions:
  li
    button.btn.inviteButton Invite
  li
    button.btn.transferButton Transfer
  li
    button.btn.kickButton Kick
  li
    button.btn.leaveButton Leave