#deleteWebsite.modal.fade.small-modal
  .modal-header
    h3 Delete Website
    .modal-body
      | Are you sure you want to delete website #{website.name}?

    .modal-footer
      button.deleteButton.btn Delete
      button.cancelButton.btn.btn-primary Cancel

