#login-modal.modal.fade.small-modal
  .modal-header
    h3 Login

  form#login-form
    .modal-body
      input#email.small-modal-box(type="text", placeholder="Email", value="")
      .clear
      input#password.small-modal-box(type="password", placeholder="Password", value="")

    .modal-footer
      button.btn.btn-primary(type="submit") Login
      button#login-cancel-button.btn Cancel
