#newChat-modal.modal.fade.small-modal
	.modal-header
		h3 New Chat

	form#newChat-form
		.modal-body
			input#username.small-modal-box(type="text")

		.modal-footer
			button.btn(type="submit") Enter Chat