.well.sidebar-nav
  ul.nav.nav-list
    li.nav-header
      | Operator
    li
      a(href="#/dashboard")
        i.icon-home
        | Dashboard
      span.notifyUnanswered
      span.notifyInvites

    li
      a(href="#/operatorChat")
        i.img-chat
        | My Chats
      span.notifyUnread

    li
      a(href="#/logout")
        i.icon-off
        | Logout

    li.nav-header
      | Admin

    li
      a(href="#/users")
        i.icon-user
        | Users
     li
      a(href="#/websites")
        i.icon-list-alt
        | Websites
    li
      a(href="#/specialties")
        i.icon-tag
        | Specialties
