.well.sidebar-nav
  ul.nav.nav-list
    li.nav-header
      | User
    li
      a(href="#/dashboard")
        i.icon-home
        | Dashboard
      span.notifyUnanswered

    li
      a(href="#/operatorChat")
        i.img-chat
        | My Chats

    li
      a(href="#/logout")
        i.icon-off
        | Logout

    li.nav-header
      | Admin
      
    li
      a(href="#/users")
        i.icon-user
        | Users
     li
      a(href="#/websites")
        i.icon-list-alt
        | Websites
    li
      a(href="#/departments")
        i.icon-tag
        | Departments
