.well.sidebar-nav
  ul.nav.nav-list
    li
      a(href="#/dashboard")
        i.icon-home
        | Dashboard
    li
      a(href="#/operatorChat")
        i.img-chat
        | Chats
    li
      a(href="#/admin")
        i.icon-wrench
        | Admin
    li
      a(href="#/logout")
        i.icon-off
        | Logout
