//TODO: add mp3 and ogg filetypes, use mp3 for the embed fallback
html
  audio#newChatSound
    source(src="audio/newChatSound.mp3", type="audio/mp3")
    source(src="audio/newChatSound.ogg", type="audio/ogg")
    embed(src="audio/newChatSound.mp3")
  audio#newMessageSound
    source(src="audio/newMessageSound.mp3", type="audio/mp3")
    source(src="audio/newMessageSound.ogg", type="audio/ogg")
    embed(src="audio/newMessageSound.mp3")
  audio#newInviteSound
    source(src="audio/newInviteSound.mp3", type="audio/mp3")
    source(src="audio/newInviteSound.ogg", type="audio/ogg")
    embed(src="audio/newInviteSound.mp3")
