.well
  .page-header: h1 Users

  button.btn#addUser Add New User

  table.table.table-striped
    thead: tr
      th First Name
      th Last Name
      th Email
      th Role
      th Websites
      th Specialties
      th Actions

    tbody#userTableBody
      each user in users
        include userRow

#userModalBox
