.chatPage#chat-outer-div
	.chat-box.well#chat-display-box

	.message-entry
		form.form-inline#message-form
			input.span12(type="text", value="")#message

			button.btn.btn-primary(type="submit") Send