.chatPage#chat-outer-div
	#chat-display-box.chat-box.well

	.message-entry
		form.form-inline#message-form
			input.span12#message(type="text", value="")

			button.btn.btn-primary(type="submit") Send