.chatPage#chat-outer-div
  .chatWindow
    .chat-box.well#chat-display-box

    form#message-form.form-inline
      input(type="text", value="")#message

      button.btn.btn-primary(type="submit") Send
