table
  if typeof(headers) != 'undefined'
    thead
      tr
        each h in headers
          th !{h}

  if typeof(rows) != 'undefined'
    tbody
      each row in rows
        tr
          each col in row
            td !{col}
