.well
  .page-header: h1 Account Details

  p You can update your billing info here, and see the current resources you are being charged for.  When you add/remove operators, your subscription will be changed to reflect the total.

  .form-area

  #recurlyDetails
