#deleteUser.modal.fade.small-modal
  .modal-header
    h3 Delete User
    .modal-body
      | Are you sure you want to delete user #{user.email}?

    .modal-footer
      button.deleteButton.btn Delete
      button.cancelButton.btn.btn-primary Cancel