#editSpecialty.modal.fade.small-modal
  .modal-header
    h3 Specialty Information

  form
    .modal-body
      input.name.small-modal-box(type="text", value="#{specialty.name}", placeholder="Name")
      .clear

    .modal-footer
      button.saveButton.btn.btn-primary() Save
      button.cancelButton.btn Cancel
