#editWebsite.modal.small-modal.fade
  .modal-header
    h3 Embed Link

    .modal-body
      include linkToChat
      p To embed chat link on your website insert the following code on your page
      input.linkGenerator(type="text", value="#{website.embedLink}", placeholder="Link")
      p Copy to clipboard: Ctrl+C

    .modal-footer
      button.cancelButton.btn Close
