#enterEmail.modal.fade.small-modal
  .modal-header
    h3 Recipient address

  form.enterEmailForm
    .modal-body
      input.email.small-modal-box(type="text", placeholder="Email")
      .clear

    .modal-footer
      button.submitButton.btn.btn-primary() Submit
      button.cancelButton.btn Cancel
