.well
  .page-header: h1 Welcome to live chat!

  br
  form.form-inline#newChat-form
    input(type="text", value="", placeholder="Username (optional)")#username
    button.btn.btn-primary.newChatButton(type="submit") Enter Chat
