div.well.chatControls.span4(chatId="#{chat.id}")

  .websiteLogo

  .visitor-info
    | Visitor: #{chat.visitor.username}
    br
    | Website: #{chat.website}

    .acp-data
      | ACP Data:
      if chat.visitor.acpData
        ul(id="acpTree#{chat.renderedId}", class="treeview")!= chat.visitor.acpData
      else
        .clear
        | No data availible

  .actions
    p
      | Actions:

    table
      tr
        td
          button.btn.btn-primary.printButton Print
      tr
        td
          button.btn.btn-primary.inviteButton Invite
        td
          button.btn.btn-primary.transferButton Transfer
      tr
        td
          button.btn.btn-danger.kickButton Kick
        td
          button.btn.btn-warning.leaveButton Leave
