.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner.navBarContainer
    .container-fluid
      a.brand(href='#', style='padding-top: 13px;')
        strong CHAT PRO
      ul.nav
        li
          a(href='#/dashboard') Dashboard 
            span.notifyUnanswered 
            span.notifyInvites
          li
            a(href='#/operatorChat') Chats 
              span.notifyUnread
          li
            a(href='#/userProfile') Profile
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown') Administration

            ul.dropdown-menu.collapse.in
              li
                a(href='#/account') Account
              li
                a(href='#/users') Users
              li
                a(href="#/websites") Websites
              li
                a(href="#/specialties") Specialties
      ul.nav.pull-right
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown') Session
            b.caret
          ul.dropdown-menu.collapse.in
            li
              a(href="#/logout")
                i.icon-off
                | Logout
      input.input-medium.search-query(type='text', placeholder='Search...', style='margin-top: 8px; position: absolute; left: 600px')
      p.navbar-text.pull-right(style='position: absolute; right: 200px;')
        | Logged in as 
        a.navbar-link(href='#') Monad
      
      include sounds