#signup-modal.modal.fade.small-modal
  .modal-header
    h3 Signup

  form#signup-form
    .modal-body
      input#first.small-modal-box(type="text", placeholder="First Name", value="")
      input#last.small-modal-box(type="text", placeholder="Last Name", value="")
      input#email.small-modal-box(type="text", placeholder="Email", value="")
      input#password.small-modal-box(type="password", placeholder="Password", value="")

    .modal-footer
      button.btn.btn-primary(type="submit") Sign Up!
      //a#signup-submit-button.btn.btn-primary Sign Up!
      a#signup-cancel-button.btn.btn-warning Cancel
