//TODO: add mp3 and ogg filetypes, use mp3 for the embed fallback
html
  audio#newChatSound
    source(src="audio/newChat.mp3", type="audio/mp3")
    source(src="audio/newChat.ogg", type="audio/ogg")
    embed(src="audio/newChat.mp3")
  audio#newMessageSound
    source(src="audio/newMessage.mp3", type="audio/mp3")
    source(src="audio/newMessage.ogg", type="audio/ogg")
    embed(src="audio/newMessage.mp3")
  audio#newInviteSound
    source(src="audio/newInvite.mp3", type="audio/mp3")
    source(src="audio/newInvite.ogg", type="audio/ogg")
    embed(src="audio/newInvite.mp3")
