tr.specialtyRow(specialtyId="#{specialty.id}")
  td= specialty.name

  th
    a.editSpecialty(specialtyId="#{specialty.id}") Edit
    &nbsp;|&nbsp;
    a.deleteSpecialty(specialtyId="#{specialty.id}") Delete
