.well
  .page-header: h1 Specialties

  p Specialties can be created here, then assigned to both users and websites.  A visitor creating a new chat will be prompted to select a specialty as long as the website has one or more.  The chat will only show up for operators who have that specialty.

  button.btn#addSpecialty Add New Specialty

  table.table.table-striped
    thead: tr
      th Name

    tbody#specialtyTableBody
      each specialty in specialties
        include specialtyRow

#specialtyModalBox
