.well
  h2 Thank you for registering your free account!

  p You should see a popup with an introduction to guide you through setup.
  p If not, you can click the ? mark icon at the upper right at any time to bring up help.
