.well
  .page-header: h1 User Profile

  form.form-horizontal.password-change-form
    .control-group
      label.control-label(for='oldPassword') Current Password
      .controls
        input#oldPassword(type='password', placeholder='Current Password')

    .control-group
      label.control-label(for='newPassword') New Password
      .controls
        input#newPassword(type='password', placeholder='New Password')

    .control-group
      label.control-label(for='newPasswordConfirmation') Confirm New Password
      .controls
        input#newPasswordConfirmation(type='password', placeholder='Confirm New Password')

    .controls
      button.btn.submit-button(type='submit') Save

