.well
  .page-header: h1 Users

  p Here you can add new users, and assign users to specialties and websites.  This will determine what chats they receive, and whether your chat icon displays online/offline.

  button.btn#addUser Add New User

  table.table.table-striped
    thead: tr
      th First Name
      th Last Name
      th Email
      th Role
      th Websites
      th Specialties
      th Actions

    tbody#userTableBody
      each user in users
        include userRow

#userModalBox
