.chatPage.span12.row
  .chatWindow.span8.row
    .chat-box.well.chat-display-box.span12

    form.message-form.form-inline
      input(type="text", value="").message

      button.btn.btn-primary(type="submit") Send

  div.well.visitorSidebar.span3
    .websiteLogo
    button.btn.btn-warning.leaveButton Leave
    button.btn.btn-primary.printButton Print
    button.btn.btn-primary.emailButton Email

#selectModal
