.chatPage
  .websiteLogo
  .chat-box.well.chat-display-box

  form.message-form.form-inline
    textarea(value="").message
    button.btn.btn-primary(type="submit") Send

  .visitorControls
    button.btn.btn-warning.leaveButton Leave
    button.btn.btn-primary.printButton Print
    button.btn.btn-primary.emailButton Email

#selectModal

include sounds
