.chatPage.span12.row
  .websiteLogo
  .chatWindow.span8
    .chat-box.well.chat-display-box.span12

    form.message-form.form-inline
      .span12
        .span10
          textarea(value="").message
        .span2
          button.btn.btn-primary(type="submit") Send

  div.well.visitorSidebar.span3.row
    button.btn.btn-warning.leaveButton Leave
    button.btn.btn-primary.printButton Print
    button.btn.btn-primary.emailButton Email

#selectModal

include sounds
