.well
  .page-header: h1 Websites

  button.btn#addWebsite Add New Website

  table.table.table-striped
    thead: tr
      th Name
      th Url
      th Specialties
      th ACP Endpoint

    tbody#websiteTableBody
      each website in websites
        include websiteRow

#websiteModalBox
