

.flightTest{
width: 100px;
height: 100px;
background: #ff0000;
}

a {
  cursor: pointer;
}

blockquote {
  font-size: 13px;
  margin: 6px 15px 6px;
  border-left: none;
}

.reflink a {
  color: inherit;
  text-decoration: none;
}

.thumb {
  float: left;
  margin: 0 15px 8px;
}

.printPage {
  width: 600px;
}

.imagePreview {
  max-width: 70px;
  max-height: 40px;
}

.small-modal {
  width: 333px;
}

.small-modal-box {
  width: 280px;
}

.img-chat {
  width: 18px;
  height: 18px;
  display: inline-block;
  opacity: 0.67;
  background-image:url("/img/chat.png");
}

.chatPage {
  width: 550px;
  height: 600px;
}

.chatWindow {
  padding: 0;
  margin: 0;
  width: 95%;
  height: 80%;
}

.chat-box {
  position: relative;
  height: 80%;
  width: 100%;
  top: 10px;
  bottom: 30px;
  overflow-y: scroll;
}

.displayed-message :not(:first-child) {
  padding-left: 25px;
}

.message {
  resize: none;
  width: 95%;
  height: 40px;
  margin-right: 5px;
}

.message-form {
  position: relative;
  width: 100%;
  height: 30px;
  bottom: 0;
}

.message-form input {
  width: 300px;
}

form input, form .controls button {
  margin-right: 6px;
}

.page-content {
  margin-top: 15px;
}

.operatorChat {
  height: 500px;
}

.nav-list {
  padding: 0;
}

.nav-list li a {
  margin-right: -10px;
  display: inline-block;
}

.maxHeight {
  height: 100%;
}

#create-account {
  width: 500px;
  margin: 10px auto;
}

#dashboard .table .btn-group {
  margin: -4px;
}

.operatorChat {
  margin-left: 0;
}

.bold {
  font-weight: bold;
}

.chatTab {
  margin-right: 4px;
}

.actions table td {
  padding: 4px;
}

.actions button.btn {
  width: 75px;
}

.actions {
  position: absolute;
  bottom: 14px;
}

.visitor-info {
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  top: 18px;
  bottom: 90px;
  right: 0px;
  left: 14px;
}

.websiteLogo {
  position: relative;
  width: 400px;
  height: 80px;
  padding: 0px;
  margin: 0px 14px;
}

.websiteLogo img {
  max-width: 400px;
  max-height: 80px;
  margin: 0px;
  padding: 0px;
  border: none;
}

.chatControls {
  height: 82%;
  position: relative;
}

.scrolling-checkboxes {
  position: relative;
  left: 15px;
  max-height: 100px;
  width: 100%;
  overflow-y: auto;
  margin-bottom: 4px;
}

#sidebar .badge {
  margin-right: 2px;
}

.leftCenter {
  float: left;
  margin-top: 5px;
}

#email-form textarea[name=body] {
  width: 100%;
  height: 225px;
  resize: none;
}

.visitorSidebar {
  position: relative;
  top: 11px;
}

.visitorSidebar button {
  margin-right: 6px;
  margin-top: 6px;
}

span.field {
  background-color: #EEE;
  padding: 4px;
  border: 1px solid #CCC;
  border-radius: 5px;
  position: relative;
  top: 5px;
}

#help {
  position: absolute;
  top: 20px;
  right: 25px;
}

#help img {
  width: 40px;
}

/*
* css media queries
*/

@media all and (max-width: 768px) {
  .message-form {
    position: relative;
    margin-top: 15px;
  }

  #sidebar {
    display: none;
  }

  form.message-form {
    margin-top: 0px;
  }

  div.page-content {
    margin-top: 0px;
  }

  div.visitorSidebar {
    position: relative;
    top: -20px;
    padding: 0px;
    background: none;
    box-shadow: none;
    border: none;
  }

  .chatWindow {
    height: 75%;
  }

  .websiteLogo {
    margin: 0px;
  }
}













/*   Begin new CSS for new UI by Michael O'Brien 4/15/13   */



body {
    margin: 0;
}

div {
    background-repeat: no-repeat;
}

.navBarContainer {
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important;
    height: 45px;
    left: 1px;
    position: absolute;
    top: 5px;
    width: 1210px;
    /*background: rgba(0, 0, 0, 0.8) !important;*/
}

.nav{
  padding-top: 3px;
}

.navbar-text{
  margin-top: 3px;
}

.chatTabUl{
  left: 10px;
  position: absolute;
  top: 99px;
  list-style: none;
}

.chatTab {
    height: 80px;
    width: 200px;
    margin-bottom: 5px;
    margin-left: -25px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top: 1px #999999 solid;
    border-bottom: 1px #999999 solid;
    border-left: 1px #999999 solid;
  }

  .activeTab{
    background: #DDDDDD;
  }

#chatWrapper {
    height: 650px;
    left: 210px;
    position: absolute;
    top: 60px;
    width: 990px;
    border: 1px #999999 solid;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important;
}

.topOfChatboxDiv {
    height: 40px;
    width: 480px;
    margin-left: 10px;
    border-bottom: 1px #000000 solid;
}

.usernameInChat{
  width: 350px;
  height: 20px;
  font-family:Helvetica;
  font-size:17px;
  font-weight:bold;
  font-style:normal;
  text-decoration:none;
  color:#2A2B2B;
  margin-left: 20px;
  padding-top: 20px;
}

.timeInChat {
  font-family: Helvetica;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  color: #2A2B2B;
  float: right;
  position: relative;
  top: -20px;
  padding-right: 10px;
}


.chatboxSlider {
height: 440px;
left: 467px;
position: absolute;
width: 18px;
top: 50px;
}

.chatBoxInputContainer {
  margin-top: 470px;
  width: 470px;
  padding-left: 20px;
}

.chatBoxTextArea{
  width: 454px;
}

.chatBoxButtonContainer{
  width: 468px;
  padding-left: 20px;
}

.acpDataContainer {
  height: 623px;
  left: 510px;
  position: absolute;
  top: 10px;
  width: 240px;
  border: 2px #e6e6e6 solid;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  border-radius: 10px !important;
}
.acpDataView{
    color: #333333;
    font-family: Arial;
    font-size: 13px;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    height: 448px;
    margin: 10px 0 0 10px;
}

.acpDataViewJSON{
    color: #333333;
    font-family: Arial;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    margin-left: 10px;
}

.acpControlButtons{
  background: #F3F3ED;
  height: 165px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.firstRowAcpButtons{
  padding-left: 16px;
  padding-top: 20px;
}

.selectAcpBoxWrapper{
  padding-left: 20px;
  padding-top: 20px;
}

.selectAcpBox{
  width: 130px;
}

.selectAcpBoxWrapperAction{
  padding-left: 20px;
  padding-top: 30px;
}

.selectAcpBoxAction{
  width: 70px;
}

.thirdRowAcpButtons{
  width: 204px;
  padding-left: 20px;
  overflow: hidden;
  padding-top: 8px;
}

.thirdRowAcpButtons .btn {
  width: 102px;
  height: 30px;
  overflow: hidden;
  font-size: 12px;
  padding-top: 5px;
  padding: 0 !important;
}

.cannedResponseArea{
  height: 623px;
  left: 760px;
  position: absolute;
  top: 10px;
  width: 220px;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  border-radius: 10px !important;
}

.cannedResponse{
  height: auto;
  background: #F3F3ED;
  color: #527793;
  font-family: Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  border-radius: 10px !important;
  margin-bottom: 5px;
  padding: 8px;
}








